FROM maven:{{ version }}-jdk-slim as build

WORKDIR /app

COPY pom.xml .
RUN mvn dependency:go-offline -B

COPY src ./src

RUN mvn package -DskipTests

FROM openjdk:{{ version }}-jre-slim

WORKDIR /app

COPY --from=build /app/target/*.jar ./app.jar

EXPOSE {{ port }}

CMD ["java", "-jar", "app.jar"]